{% if showResults %}
    <hr>
    <div class="result-info">
        {% if results is empty %}
            <p>No articles matching the criteria found</p>
        {% else %}
            <p>{{ info.hits }} total hits</p>
        {% endif %}
    </div>
    {% if results is not empty %}
        <hr>
        <div class="results">
            {% for article in results %}

                <div class="Media post">
                    <img class="Media-figure"
                            {#src="{{ attribute(article.meta.og, 'og:image') is defined ? attribute(article.meta.og, 'og:image') : '/apple-touch-icon.png'}}" alt="">#}
                         src="{{ article.heroImage.url }}"
                         alt="{{ article.heroImage.title }}">


                    <div class="Media-body">
                        <h3><a target="_blank"
                               href="{{ article.resolvedPageUrl }}">{{ article.title }}</a>
                        </h3>

                        <p class="author">Written by {{ article.author }}, published on {{ article.date|date("jS F, Y") }}</p>

                        <p class="description">{{ article.meta.description }}</p>
                    </div>


                </div>

                <div class="sexy_line"></div>

            {% endfor %}
        </div>
    {% endif %}
{% else %}
    <div class="welcome-message">
        <div>
            <h1>SitePoint Search</h1>
            <div class="sexy_line"></div>
            <p>Use the main field above to construct a fully detailed search query. For examples of accepted values, click the questionmark in the search field.</p>
            <div class="sexy_line"></div>
            <p>Use the detailed search to the left (press hamburger icon on smaller screens to get detailed fields) to be more precise with your queries.</p>
            <div class="sexy_line"></div>
            <p>Keep in mind that you can either use the main search (above) or the detailed search fields (left), not both! The main search, if used, always overrides the detailed one!</p>
        </div>
    </div>
{% endif %}